.solarlinkCircleBoldIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.devlinksIcon {
  position: absolute;
  top: 5px;
  left: 38px;
  width: 108px;
  height: 21px;
}
.phlinkBoldIcon,
.solarlinkCircleBoldParent {
  width: 146px;
  position: relative;
  height: 32px;
}
.phlinkBoldIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.links1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.links {
  border-radius: var(--br-5xs);
  background-color: var(--light-purple);
  align-items: center;
  padding: var(--padding-2xs) var(--padding-8xl);
  gap: var(--gap-5xs);
}
.links,
.linksParent,
.profileDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profileDetails {
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-2xs) var(--padding-8xl);
  gap: var(--gap-5xs);
  color: var(--grey);
}
.linksParent {
  align-items: flex-start;
  gap: 16px;
}
.preview {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 600;
}
.previewWrapper {
  width: 60px;
  position: relative;
  height: 24px;
}
.publish {
  border-radius: var(--br-5xs);
  border: 1px solid var(--purple);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-8xl);
}
.groupParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.AddedLinkInner,
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-5xl);
}
.AddedLinkInner {
  padding: var(--padding-5xl);
  color: var(--purple);
}
.previewSectionChild,
.subtractIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 307px;
  height: 631px;
}
.subtractIcon {
  top: 10px;
  left: 11px;
  width: 285px;
  height: 611px;
}
.frameChild,
.frameInner,
.frameItem {
  position: relative;
  background-color: var(--color-whitesmoke);
}
.frameChild {
  width: 96px;
  border-radius: 50%;
  height: 96px;
}
.frameInner,
.frameItem {
  width: 160px;
  border-radius: var(--br-85xl);
  height: 16px;
}
.frameInner {
  width: 72px;
  height: 8px;
}
.ellipseParent,
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.ellipseParent {
  align-self: stretch;
  gap: 25px;
}
.teenyiconsgithubSolid {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.github {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.publish1,
.rectangleDiv {
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 44px;
}
.publish1 {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.rectangleDiv {
  position: relative;
  background-color: var(--color-whitesmoke);
}
.frameGroup,
.publishParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.publishParent {
  align-self: stretch;
  gap: 20px;
}
.frameGroup {
  position: absolute;
  top: 63.5px;
  left: 34.5px;
  width: 237px;
  gap: 56px;
}
.previewSection {
  width: 307px;
  position: relative;
  height: 631px;
}
.previewSectionWrapper {
  align-self: stretch;
  width: 560px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.addeditremoveLinksBelow,
.customizeYourLinks {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.addeditremoveLinksBelow {
  font-size: var(--body-m-size);
  color: var(--grey);
}
.customizeYourLinksParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.previewContainer {
  width: 108px;
  position: relative;
  height: 24px;
}
.publish2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xl);
}
.frameChild4 {
  width: 12px;
  position: relative;
  background-color: var(--grey);
  height: 1px;
}
.frameParent3,
.rectangleGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameParent3 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.remove {
  position: relative;
  line-height: 150%;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--grey);
}
.vectorIcon {
  width: 12px;
  position: relative;
  height: 6px;
}
.teenyiconsgithubSolidParent {
  width: 688px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--borders);
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
}
.httpswwwgithubcomelonmus {
  position: relative;
  line-height: 150%;
  color: inherit;
  text-decoration: none;
}
.platform {
  width: 396px;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.platformParent,
.teenyiconsgithubSolidGroup {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.teenyiconsgithubSolidGroup {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--borders);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--body-m-size);
}
.platformParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--body-s-size);
}
.egHttpswwwgithubcomjo {
  position: relative;
  line-height: 150%;
  opacity: 0.5;
}
.frameDiv,
.frameParent1,
.publishGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frameParent1 {
  border-radius: var(--br-xs);
  background-color: var(--light-grey);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  gap: var(--gap-xs);
  color: var(--dark-grey);
}
.frameDiv,
.publishGroup {
  align-items: flex-start;
  justify-content: flex-start;
}
.publishGroup {
  gap: var(--gap-5xl);
  font-size: var(--body-m-size);
  color: var(--purple);
}
.frameDiv {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-21xl);
  gap: 40px;
}
.frameChild7 {
  align-self: stretch;
  position: relative;
  background-color: var(--borders);
  height: 1px;
}
.saveWrapper {
  width: 37px;
  position: relative;
  height: 24px;
}
.publish3,
.publishWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.publish3 {
  border-radius: var(--br-5xs);
  background-color: var(--purple);
  align-items: flex-start;
  padding: var(--padding-2xs) var(--padding-8xl);
}
.publishWrapper {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-5xl) var(--padding-21xl);
}
.frameContainer,
.frameParent,
.rectangleContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangleContainer {
  flex-direction: column;
  justify-content: flex-end;
  font-size: var(--body-m-size);
  color: var(--white);
}
.frameContainer,
.frameParent {
  flex: 1;
  justify-content: flex-start;
}
.frameContainer {
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  font-size: var(--heading-m-size);
  color: var(--dark-grey);
}
.frameParent {
  flex-direction: row;
  padding: 0 var(--padding-5xl) var(--padding-5xl);
  gap: var(--gap-5xl);
  font-size: var(--body-s-size);
}
.tutustuKokoTarinaamme {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: uppercase;
}
.button {
  border-radius: 112px;
  background-color: #1c2239;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 32px;
  font-size: 14px;
  font-family: var(--font-gotham-bold);
}
.AddedLink {
  width: 100%;
  position: relative;
  background-color: var(--light-grey);
  height: 984px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-m-size);
  color: var(--white);
  font-family: var(--body-m);
}
